<html>
<head>
    <title>Jobfinder</title>
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <!-- Optional theme -->
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css'>
    <link rel='stylesheet' href='css/styler.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta charset="utf-8">
</head>
<body>
<div class="container container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Jobbsök <small>Vi hjälper dig hitta ditt nya jobb!</small></h2>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</div>
<script src="js/Province.js"></script>
<script src="js/Error.js"></script>
<script src="js/OccupationArea.js"></script>
<script src="js/Job.js"></script>
<script src="js/JobAd.js"></script>
<script src="js/County.js"></script>
<script src="js/JobBoard.js"></script>
<script src='//code.jquery.com/jquery-1.11.0.min.js'></script>
</body>
</html>