<!DOCTYPE html>
<html  manifest="jobbsok.appcache">
<head>
    <title>jobbsök</title>
    <!-- Latest compiled and minified CSS -->
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <!-- Optional theme -->
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css'>
    <link rel='stylesheet' href='css/styler.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta charset="utf-8">
</head>
<body>
<div class="container container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Jobbsök <small>Vi hjälper dig att hitta ditt nya jobb!</small></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div id="fb-root"></div>
                        <div class="fb-share-button" data-href="//jobbsok.tobias-holst.se/" data-layout="button"></div>
                        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                        </fb:login-button>
                    </div>

                    <div class="col-md-3">
                        <div class="alert alert-info">
                            <p id="status"> Inte Inloggad med Facebook</p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <footer>
        <div class='row'>
            <div class="col-md-12">
                <p class="text-muted credit">Jobbdatan är hämtad från
                    <a target="_blank" href="//www.arbetsformedlingen.se/">Arbetsförmedlingens</a>
                    öppna API och företagsdatan är hämtad från <a target="_blank" href="//www.eniro.se/">Eniro</a></p>
                <p class="text-muted credit">Producerad av <a href='//tobias-holst.se/' target='_blank'>@Tobias Holst</a></p>
            </div>
        </div>
    </footer>
</div>
<script src='//code.jquery.com/jquery-1.11.0.min.js'></script>
<script src="js/app.min.js"></script>
</body>
</html>